.balance-number {
  font-weight: 800;
  font-size: 2rem;
}

.balance-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 1rem;
}

.income_expense_wrapper {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 3rem; */
}

.income .expense {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.income > h4 {
  color: green;
}

.expense > h4 {
  color: red;
}
